@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header a {
  color: white;
  text-decoration: none;
}
header,
footer {
  background-color: rgb(71, 4, 85);
  color: white;
  padding: 1.6rem;
  text-align: center;
}

/* Products */
div ul {
  list-style: none;
}
.prodList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.itemList {
  border: 0.01rem solid rgb(247, 188, 242);
  width: 32rem;
}
.imageList {
  height: 22rem;
}
.info,
.infoItem {
  padding-left: 2rem;
  font-weight: 700;
}

/* Filter */
.flex-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.infoItem {
  padding: 1rem 0 1rem 1rem;
  border-bottom: 0.6rem solid pink;
  margin-bottom: 0.9rem;
}
